*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 201, 201);
}

.container{
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 500px;
    padding: 20px;
    border: 1px  solid black;
}

.container > h1{
    text-align: center;
    font-size: 2.5em;
    padding: 30px;
}

.campo1{
    
    padding: 10px 0px 10px 0px;
    height: 60px;
}

input{
    width: 33%;
    height: 100%;
    padding: 10px;
    text-align: center;
}


.campo2{
    
    padding: 10px 0px 10px 0px;
    height: 60px;
}

.btn{
    padding: 10px 0px 10px 0px;
}

#btn-calcular{
    background-color: cornflowerblue;
    color: white;
    font-weight: bolder;
    font-size: 1.2em;
    padding: 10px;
    width: 25%;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 75px;
}

#btn-calcular:hover{
    background-color: rgb(81, 138, 243);
}

.campoMedia{
}

#media{
    width: 33%;
    height: 100%;
    padding: 10px;
}


.campoSituacao{
    padding-top: 10px;
}

#situacao{
    width: 33%;
    height: 100%;
    padding: 10px;
    
}