@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hanken+Grotesk&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Hanken Grotesk', sans-serif;
}

:root {
    /*### Primarias*/

    --lightred: hsl(0, 100%, 67%);
    --orangeyellow: hsl(39, 100%, 56%);
    --greenfraco: hsl(166, 100%, 37%);
    --cobaltblue: hsl(234, 85%, 45%);

    /*### Gradientes*/
    --Lightslateblue: hsl(252, 100%, 67%);
    --Lightroyalblue: hsl(241, 81%, 54%);

    --Violetblue: hsla(256, 72%, 46%, 1);
    --Persianblue: hsla(241, 72%, 46%, 0);

    /*### Neutras*/
    --White: hsl(0, 0%, 100%);
    --Paleblue: hsl(221, 100%, 96%);
    --Lightlavender: hsl(241, 100%, 89%);
    --Darkgrayblue: hsl(224, 30%, 27%);
}

