@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints
    Pequenas Telas: Até 600px
    Celular: de 600px até 768px
    Tablet: 768px até 992px
    Desktop: 992px até 1200px
    Grandes Telas: acima de 1200px
*/


@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../imagens/back-print.jpg); /* DESNECESSÀRIO*/
    }

    main h1{
        text-shadow: none;
        color: black;
    }
    
    main{
        width: 90vw;
        border: 2px solid black;
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: block; }
    img#pc { display: none; }
    img#tv { display: none; }
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    /* TABLET */
    img#phone {
        display: none;
    }

    img#tablet {
        display: block;
    }

    body {
        background: black url(../imagens/back-tablet.jpg);
    }
}


@media screen and (min-width: 992px) and (max-width: 1200px) {

    /* DESKTOP */
    img#phone {
        display: none;
    }

    img#pc {
        display: block;
    }

    body {
        background: black url(../imagens/back-pc.jpg);
    }
}

@media screen and (min-width: 1200px) {

    /* GRANDES TELAS */
    img#phone {
        display: none;
    }

    img#tv {
        display: block;
    }

    body {
        background: black url(../imagens/back-tv.jpg);
    }
}